html {
    --backCol: #2e2e2e;
    --borderCol: #3d3d3d;
    background-color: var(--backCol)
}

body {
    overflow: hidden;
    margin: 0;
    background-color: var(--backCol)
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--backCol);
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

#screenBox {
    margin: 2vw;
    border-radius: 50px;
    background: var(--backCol);
    box-shadow:  41px 41px 60px #272727, -41px -41px 60px #353535;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ObjBox {
    border-radius: 50px;
    background: var(--backCol);
    box-shadow:  41px 41px 60px #272727, -41px -41px 60px #353535;
    margin: 2vw;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
}

#sGrid {
    height: 90%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(25, 4%);
    grid-template-rows: repeat(25, 4%);
    border: 1px #515151 solid;
}

.cell {
    border: 1px var(--borderCol) solid
}

#Obj {
    width: calc(100% - 4vw);
    height: calc(100% - 4vw);
    margin: 2vw;
    display: flex;
    row-gap: 1vw;
}

#objIn {
    width: 100%;
    height: 100%;
    border: unset;
    outline: none;
    background-color: #141414;
    resize: none;
    color: white;
    font-family: "fira code" monospace;
    font-size: 2.3vh;
}

#Obj::-webkit-scrollbar {
    width: 10px;
}

#Obj::-webkit-scrollbar-thumb {
    background-color: #515151;
    border-radius: 10px;
}